a:not([role=button]):not(.MuiButtonBase-root):not(.MuiChip-root) {
    color: #3574cb !important;
    text-decoration: underline !important;
}
a.MuiChip-root {
    color: unset !important;
    text-decoration: unset !important;
}
a.MuiChip-colorError,  a.MuiChip-colorSuccess {
    color: white !important;
}
.ml-12 {
    margin-left: 1.2rem;
}